
*{
    margin: 0%;
    padding: 0%;
}

/* Header */

header{
    height: auto;  
}

#Encabezado{
    background-color: white !important;
}
#navbarNavDropdown{
    justify-content: flex-end !important;
}
.logo{ 
    width: 90%;
    height: 60px;
    padding-left: 25px;
}

nav ul li a{
    color: #093f3c !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
    justify-content: flex-end !important;
}

nav ul li a:hover{
    color: #549191 !important;
    font-weight: bolder !important;
}

/*main*/
body{
    background-color:  #15362A;
}

#inicio{
    display: flex;
    flex-wrap: wrap;
}

.contenedor{
    width: 100%; 
    max-width: 100%;
    height: auto;
    position: relative;
    display: flex;
}

.contenedor h1{
    font-size: 65px;
    width: 100%;
    position: absolute;
    color: #936639;
    top: 2.5%;
    text-shadow: 5px 8px 8px #582f0e ;
    -webkit-text-stroke: 0.5px #582f0e;
    text-align: center;
}

.contenedor p{
    position: absolute;
    color: #936639;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    font-size: 30px;
    top: 21%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.contenedor2{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 15px;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 4px;
    font-size: 35px;
    width: auto;
    color: #386641;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.texto-negrita{
    font-weight: bold;
}
.contenedor2 p{
    font-size: 20px;
    color: #dad7cd;
    padding: 10px 50px;
    text-align: justify; 
}

.contenedor-historia{
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap !important;
}
.contenedor-historia img{
    width: 230px !important;
    height: 230px !important;
}

.contenedor-negocios{
    width: auto;
    height: auto;
    margin: 50px 100px;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.contenedor-imagen-link{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.img-thumbnail{
    width: 500px !important;
    height: 333px !important;
}

.link-negocios{
    font-family: 'Roboto' sans-serif;
    text-decoration: none;
    position: absolute;
    z-index: 1;
    color:  #386641;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: bolder;
    box-shadow: 5px 8px 12px black;
    background-color: white;
    border-radius: 10px;
    transition: ease 1s;
}
.link-negocios:hover{
    cursor: pointer;
    color: white;
    background-color: #386641;
    transform: scale(1.15, 1.15);


}


/*main tambo*/

.contenedor-tambo{
    width: 100% ;
    height: 275px;
    position: relative;
    display: flex;
}
.contenedor-tambo img{
    width: 100%;
    height: 100%;
}
.contenedor-tambo h1{
    font-size: 50px;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    height: 50px;
    position: absolute;
    color: #9E7B34;
    text-shadow: 5px 8px 12px black ;
    top: 2.5%;
    text-align: center;
}
.contenedor3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-evenly;

}
.secciones-tambo h4{
    color: bisque;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bolder;
    box-shadow: 5px 8px 12px black;
    background-color: #A8825C;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    
}
.secciones-tambo p{
    font-size: 20px;
    color: bisque;
    padding: 20px;
    margin: 15px;
    width: 250px;
    font-family: 'Segoe UI', sans-serif;
    text-align: justify;

}
.secciones-tambo img{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 20px;
    align-content: center;
    padding-left: 30px;
}

/*main Agricultura*/

.contenedor2 img{
    margin: 20px;
    align-content: center;
    width: 300px;
    height: 300px;
}

/*main Sumate a la Empresa*/

.contenedor4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;

}

.formulario-contacto{
    text-align: left;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 30px;
    color: black;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    
}
.formulario-contacto input{
    width: 1000px;
}
.formulario-contacto textarea{
    height: 60px;
    width: 1000px;
}
.formulario-contacto button{
    width: fit-content;
    height: fit-content;
    border-color: black;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    margin-top: 10px;
}

/*visitas educativas*/


/*contacto*/

/*footer*/

footer{
    width: auto;
    height: 110px;
    background-color:white;
}

#piePagina{
    width: 100%;
    height: 100px;
}

.logo-footer{
    width: 110px;
    height: 110px;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}
h3{
    text-align: right;
    width: auto;
    height: auto;
    padding: 10px;
    color: #105C57;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', sans-serif;
}
.titulo-menor{
    text-align: right;
    width: auto;
    height: 18px;
    color: #0D4F4B;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', sans-serif;
    padding-right: 10px;
}
.info-relleno{
    text-align: right;
    width: auto;
    height: 16px;
    color: black;
    font-size: 15px;
    font-family:'Segoe UI', sans-serif;
    padding-right: 10px;
}

/* Media query - Mobile */
