
$color-background1: #205340;
$color-background2: #010705;
$color-h1: #754e28;
$Color-h2: #5b9967;
$color-titulos2: #baa692;
$color-h2transicion: #e0e4d7;
$color-parrafos: #9e7c59;
$color-shadowh1: #582f0e;
$color-backgroundheader: white;
$color-linkheader1: #093f3c;
$Color-linkheader2: #205340;
$color-background-caja: #b6ad90;




