.imagen-visitas{
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap !important;
    margin-bottom: 20px;
    img{
        width: 230px !important;
        height: 230px !important;
        padding: 5px !important;
        border-radius: 10px !important;
        &:hover{
            transform: rotate(5deg);
            scale: 1.1;      
        }    
    }
}