#inicio{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, $color-background1, $color-background2);
    .contenedor{
        width: 100%; 
        height: 530px;
        position: relative;
        display: flex;
        @media only screen and (max-width:576px){
            height: auto;
            margin-bottom: 20px;
        }
        h1{
            width: 100%;
            position: absolute;
            font-size: 65px;
            color: $color-h1;
            top: 2.5%;
            text-shadow: 5px 8px 8px $color-shadowh1;
            -webkit-text-stroke: 0.8px $color-shadowh1;
            text-align: center;  
            @media only screen and (max-width:576px){
                font-size: 25px;
            }    
        }
        p{
            position: absolute;
            color: $color-parrafos;
            text-transform: uppercase;
            width: 100%;
            height: auto;
            font-size: 30px;
            top: 21%;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            @media only screen and (max-width:576px){
                font-size: 16px;
                width: 95%;
                text-align: center;
                top: 100%; 
            } 
        }
    }
    .contenedor2{
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px;
        h2{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-style: italic;
            letter-spacing: 4px;
            font-size: 35px;
            width: auto;
            height: auto;
            color: $Color-h2;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            animation-name: animacionH2;
            animation-duration: 4s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-duration: alternate;
            animation-delay: 2s;
            .texto-negrita{
                font-weight: bold;
            }
            /* h2 cambia de color y vuelve al original, crecimiento y mayor letter spacing */
            @keyframes animacionH2{
                0%{
                    letter-spacing: 4px;
                    width: auto;
                }
                50%{
                    letter-spacing: 8px;
                    color: $color-h2transicion;
                    transform: scale(1.5);
                    max-width: 50%;
                    overflow-x: hidden;
                }
                100%{
                    letter-spacing: 4px;
                    width: auto;
                }
            }
            @media only screen and (max-width:576px){
                @keyframes animacionH2{
                    0%{
                        letter-spacing: 4px;
                        width: 100%;
                        height: auto;
                    }
                    50%{
                        letter-spacing: 4px;
                        color: $color-h2transicion;
                        transform: scale(1.2);
                        width: 100%;
                        overflow: hidden;
                        height: auto;
                    }
                    100%{
                        letter-spacing: 4px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        p{
            font-size: 20px;
            color: $color-parrafos;
            padding: 10px 50px;
        }
        div{
            display: flex;
            justify-content: center !important;
            flex-wrap: wrap !important;
            margin-bottom: 20px;
            img{
                width: 230px !important;
                height: 230px !important;
                &:hover{
                    transform: rotate(5deg);
                    scale: 1.1;      
                }
            }       
        }
    }
    .contenedor3{
        width: 100%;
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 10px;
        overflow: hidden;
        align-items: center;
        h2{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-style: italic;
            letter-spacing: 4px;
            font-size: 35px;
            width: 80%;
            color: $Color-h2;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            overflow: hidden;
            animation-name: animacionH2;
            animation-duration: 4s;
            animation-iteration-count: 1;
            animation-timing-function: ease;
            animation-duration: alternate;
            animation-delay: 2s;
            .texto-negrita{
                font-weight: bold;
            }
            /* h2 cambia de color y vuelve al original, crecimiento y mayor letter spacing */
            @keyframes animacionH2{
                0%{
                    letter-spacing: 4px;
                }
                50%{
                    letter-spacing: 8px;
                    color: $color-h2transicion;
                    transform: scale(1.5);
                }
                100%{
                    letter-spacing: 4px;
                }
            }
        }
        p{
            font-size: 20px;
            color: $color-parrafos;
            padding: 10px 50px; 
            .texto-negrita{
                font-weight: bold;
                color: $color-background-caja;
            }
        }
        div{
            width: 100%;
            height: auto;
            margin: 2% 4%;  
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 20px;
            justify-items: center;
            align-items: center;
            @media only screen and (max-width:576px){
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                width: fit-content;
                margin: 10%;
            }
            div{
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center; 
                img{
                    width: 500px !important;
                    height: 333px !important;
                }
                a{
                    font-family: 'Roboto' sans-serif;
                    text-decoration: none;
                    position: absolute;
                    z-index: 1;
                    color: $color-linkheader1;
                    font-size: 20px;
                    padding: 10px;
                    letter-spacing: 1px;
                    font-weight: bolder;
                    box-shadow: 5px 8px 12px black;
                    background-color: white;
                    border-radius: 10px;
                    transition: ease 1s;
                    &:hover{
                        cursor: pointer;
                        color: white;
                        background-color: $color-linkheader1;
                        transform: scale(1.15, 1.15);
                    }
                }           
            }
        }
    }
}
